@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Grocer Check</h1>
    <p class="lead">The shopping helper designed to save you money!</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Grocer Check is easy to sign up for.  Just click Register (above or below), and fill out the form to start saving money.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Home")">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start Saving</h2>
        <p>Already a user?  Grocer Check is easy to sign up for, and even easier to use.  Just Login and start comparing prices. </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Home")">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>Still not sure?  Read more about our service to see how Grocer Check can help you get more bang for your buck.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
</div>